body {
    background-color:rgb(43, 45, 56);
}
  
.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.img-header {
    width: 100px;
    height: 60px;
}

.text-header {
    font-family: fantasy;
    font-size: 45px;
    color: #ef816c;
    margin-left: 5px;
}

.menu {
    display: flex;
    position: relative; 
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
}

.menu button {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
	padding: 1rem 2rem 1.15rem;
    text-transform: uppercase;
    min-width: 200px;
    background: transparent;
    border: none;
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    color: #27262c;
    animation: spring 300ms ease-out;
    text-shadow: 0 -1px 0 #ef816c;
    font-family: fantasy;
    font-size: 25px;
    cursor: pointer;
}

.menu button:active {
  transform: translateY(4px);
}

#board {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px;
}

.ball {
    background-color: #ef816c;
    border: 2px solid #17202A;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 0px 3px 1px rgba(0,0,0,0.65);
}
  
.empty {
    background-color: #ffffff;
    border: 2px solid #17202A;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 0px 3px 1px rgba(0,0,0,0.65);
}
  
.hidden {
    visibility: hidden;
    border: 2px solid #17202A;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 0px 3px 1px rgba(0,0,0,0.65);
}

.ball:hover {
    background-color: rgb(255, 116, 2);
}

.ballSelected {
    background-color: rgb(255, 81, 0);
    border: 2px solid #17202A;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 0px 3px 1px rgba(0,0,0,0.65);
}

.suggestions {
    background-color:rgb(41, 60, 145);
    border: 2px solid #17202A;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 0px 3px 1px rgba(0,0,0,0.65);
}

#score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-text {
    font-family: fantasy;
    font-size: 25px;
    color: #ef816c;
}

#points {
    text-align: center;
    padding: 1rem 2rem 1.15rem;
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    width: 40px;
    height: 20px;
    color: #27262c;
    text-shadow: 0 -1px 0 #ef816c;
    font-family: fantasy;
    font-size: 25px;
}

.overlay-disabled {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay-enabled {
    background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
    visibility: visible;
}

.popup-hide {
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.popup-show {
    position: absolute;
    visibility: visible;
    top: 40%;
    width: 50%;
    background-color: #FFF;
}

#popup-result {
    padding: 1rem 2rem 1.15rem;
    background: transparent;
    text-align:center;
    text-transform: uppercase;
    min-width: 50px;
    margin: auto;
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    color: #27262c;
    text-shadow: 0 -1px 0 #ef816c;
    font-weight: bold;
}

.popup-result-text {
    margin: 5px;
    font-family: fantasy;
    font-size: 25px;
    color: #27262c;
}

#popup-text {
    margin-top: 5px;
    padding-top: 15px;
}

.popup-btn {
    margin: 7px;
    margin-bottom: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 40px;
    width: 100px;
    outline: none;
    color: #fff;
    background-color:rgb(43, 45, 56);
    border: none;
    border-radius: 10px;
    font-family: Verdana;
    font-size: 15px;
}

.text-label {
    margin: 10px;
    font-family: fantasy;
    font-size: 20px;
    color: #27262c;
}

#input-name {
    width: 40%;
    height: 30px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.popup-btn:hover {
    background-color: hsl(120, 4%, 29%)
}
  
.popup-btn:active {
    background-color: hsl(120, 4%, 29%);
    
    transform: translateY(4px);
}

#form-save-btn {
    margin-bottom: 30px;
}

#popup-ranking {
    padding-top: 35px;
    padding-bottom: 50px;
    background: transparent;
    align-content: center;
    text-align:center;
    background-image: url('http://scottyzen.com/cp/button.png');
    background-size: 100% 100%;
    width: 600px;
}

.ranking-text {
    font-family: fantasy;
    font-size: 30px;
    color: #17202A;
}

ul {
    top: 0;
    display: flex;
    flex-direction: column;
	justify-content: center;
    text-align: center;
    align-content: center;
    font-family: fantasy;
    font-size: 20px;
    color: #17202A;
}

li {
    margin: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ef816c;
    font-family: fantasy;
    font-size: 25px;
    margin-top: 20px;
}

@media (min-width:480px) {
    #board button {
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
}

@media (min-width:768px) {
    #board button {
        width: 5px;
        height: 5px;
        border-radius: 5px;
    }
}

@media (max-width:900px) {
    #board button {
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }

}

@media (min-width:1024px) {
    #board button {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
}

@media (min-width:1200px) {
    #board button {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    } 
}

